# Visual Studio Code
.vscode/


# Data files
*.csv
*.xlsx
*.xls
*.json
*.xml
*.parquet
*.pkl
*.pickle
*.h5
*.hdf5

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
